
<div id="categoriesContainer">

      <h5 class="selectCat">Select a category</h5>    
      <select name="cars" id="selectCat" class="selectCat">
        <option value="Showtimes">All Projects</option>
        <option value="Corporate">Corporate</option>
        <option value="Freelance">Freelance</option>
        <option value="Games">Games</option>
        <option value="Projects">and More</option>
      </select>
</div>



<p class='noActionZoneText' id="noActionZoneText">
</p>

<p class='noActionZoneBackgroundImage' id="noActionZoneImage">
    
</p>

<img id="pop1" src="https://media0.giphy.com/media/KAeUm0GNLIP3VNOFu9/giphy.gif?cid=6c09b952cl2kz4hbpn2hdifu0lpx8vczm9fyms2q5y8r9vfo&rid=giphy.gif" alt="Girl in a jacket" width="12%" height="12%" style="top: 75%; left: 3%; position: fixed; opacity: 1">

<img id="pop2" src="https://media0.giphy.com/media/KAeUm0GNLIP3VNOFu9/giphy.gif?cid=6c09b952cl2kz4hbpn2hdifu0lpx8vczm9fyms2q5y8r9vfo&rid=giphy.gif" alt="Girl in a jacket" width="12%" height="12%" style="top: 66%; left: 23%; position: fixed; opacity: 1;">

<img id="pop3" src="https://media0.giphy.com/media/KAeUm0GNLIP3VNOFu9/giphy.gif?cid=6c09b952cl2kz4hbpn2hdifu0lpx8vczm9fyms2q5y8r9vfo&rid=giphy.gif" alt="Girl in a jacket" width="12%" height="12%" style="top: 68%; left: 36%; position: fixed; opacity: 1;">

<img id="soda1" src="/assets/soda.png" alt="Girl in a jacket" width="3%" height="6%" style="top: 68%; left: 36%; position: fixed; opacity: 1;">
<img id="soda2" src="/assets/soda.png" alt="Girl in a jacket" width="3%" height="6%" style="top: 78%; left: 18%; position: fixed; opacity: 1;">

<img id="candy1" src="/assets/candy1.png" alt="Girl in a jacket" width="4%" height="13%" style="top: 65%; left: 6%; position: fixed; opacity: 1;">

<h5 id="showtimestxt"></h5>
<img class="" src="assets/showtimes.png" id="showtimesimg">

<article class="scroller" id="scroller">

    <div>
        <span class="positionOrgin" id="spanSwipe"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanC1"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanC2"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanC3"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanC4"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanC5"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanP1"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanP2"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanP3"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanP4"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanG1"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanG2"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanG3"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanG4"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanF1"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanF2"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanF3"></span>
    </div>   
    <br> 

    <div>
        <span class="positionOrgin" id="spanF4"></span>
    </div>   
    <br> 

    <!-- <div>
        <span class="positionOrgin" id="spanF5"></span>
    </div>   
    <br>  -->


</article>



