

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<svg (click)="expandMenu()" class="" width="26px" height="26px" viewBox="0 0 1339 1024" xmlns="http://www.w3.org/2000/svg" >
  <path d="M0 0h1102.769v78.769h-1102.769v-78.769z" style="fill: #E4BB97;;"></path>
  <path d="M0 315.077h1339.077v78.769h-1339.077v-78.769z" style="fill: #840032;">

  </path><path d="M0 630.154h945.231v78.769h-945.231v-78.769z" style="fill: #E4BB97;">

  </path><path d="M0 945.231h1220.923v78.769h-1220.923v-78.769z" style="fill: #840032;"></path>
</svg>

<img id="menuTransition" src="https://media.giphy.com/media/VxbP9tLeKzazm/giphy.gif" alt="Girl in a jacket" >


  <div id="menubar">

    <h2  (click)="goZyris()" class="headingF" id="heading">  Introduction 
    </h2>
    <!-- <span id="smallSpan">Introduction</span> -->
    <i class='fab fa-github i1' style='font-size:18px' (click)="goIcon(0)"></i>
    <i class='fab fa-linkedin-in i1' style='font-size:18px' (click)="goIcon(1)"></i>
    <i class='fab fa-youtube i1' style='font-size:18px' (click)="goIcon(2)"></i>
    <i class='fab fa-stack-exchange i1' style='font-size:18px' (click)="goIcon(3)"></i>
 
    <i class='fas fa-book i1' style='font-size:18px' (click)="goIcon(4)"></i>
    <i class='fas fa-chalkboard-teacher i1' style='font-size:18px' (click)="goIcon(5)"></i>

    <p class="defaultP" id="story" (click)="goStory()"> Main Event
    </p>
    

    
    <p class="defaultP" id="projects" (click)="goProjects()"> Resume Theatre
    </p>
    

    <form action="/action_page.php"></form>
      <p class="formP" (click)="closeMenu()"> Contact
      </p>
      <!-- <label for="fname">www.linkedin.com/in/shakirze/</label><br> -->

      <i class='fas fa-book i2' style='font-size:18px' (click)="goIcon(4)"> Resume</i>
      <br>
      <i class='fab fa-linkedin-in i2' style='font-size:18px' (click)="goIcon(1)">Linkedin</i>
      <br>
      <i class='fas fa-chalkboard-teacher i2' style='font-size:18px' (click)="goIcon(5)"> Tutoring</i>
  
    <br>
  </div>



    <div id="app">
      <router-outlet></router-outlet>
    </div>













