
<!-- 
<h1>Tickets plz </h1>
<img src="assets/guard.png">
<button> </button>   <button> </button>

<img src="assets/movieline.png">

<img src="assets/showtimes.png">

<img src="assets/pop.png"> 



<img src="assets/movie2.png"> -->

<div id="container">
    
    <iframe width="50%" height="20%" src="https://www.youtube.com/embed/CJZpEIenlQg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            
    <img class="img1" src="assets/3seats.png">
    <img class="img2" src="assets/3seats.png">
    <img class="img3" src="assets/3seats.png">

    <div id="top">
    


    </div>
    
    <div id="bottom">
        
    
    
    </div>



</div>